.form {
  width: 30%;
  margin: auto;
}

.form .button_group {
  display: flex;
  justify-content: center;
}

.form .button_group button {
  margin: 5px !important;
}

.form .link {
  text-decoration: none;
  color: white;
}
