body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-win {
  background: #fff;
  color: blue;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.game-info {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.game-title {
  color: blue;
  text-align: center;
}

.game-history {
  margin-left: auto;
  margin-right: auto;
}

.game-board {
  margin-left: auto;
  margin-right: auto;
}

.game-history .history {
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.game-history .history:hover {
  color: red;
}

.game-history .history-select {
  background: snow;
  color: blue;
}

.game-history .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.game-history button {
  margin-left: 50px;
  height: min-content;
  width: max-content;
  align-self: center;
}

.game-history .history-content {
  max-height: 300px;
  min-width: 400px;
  overflow: auto;
}
