body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.playerX {
  color: blue !important;
}

.playerO {
  color: red !important;
}

.square-win {
  background: blue;
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.game-title {
  color: blue;
  text-align: center;
}

.game-history {
  margin-left: auto;
  margin-right: auto;
  height: 45%;
}

.game-board {
  margin-right: 20px;
}

.game-history .history {
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.game-history .history:hover {
  color: red;
}

.game-history .history-select {
  background: snow;
  color: blue;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-style: groove;
}

.game-history button {
  margin-left: 50px;
  height: min-content;
  width: max-content;
  align-self: center;
}

.game-history .history-content {
  max-height: 250px;
  min-width: 400px;
  overflow: auto;
}

.game-message-chat {
  height: 35%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.game-message-chat .message-content {
  margin-top: 5px;
  max-height: 180px;
  min-width: 400px;
  border: olive;
  overflow-x: auto;
}

.message-content ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.message-input {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.message-input .button-send {
  margin-left: 10px;
  margin-right: auto;
}

.message-content .message-item-0 {
  display: flex;
  flex-direction: row-reverse;
}

.message-content .message-item-1 {
  display: flex;
  flex-direction: row;
}

.message-content .message-item {
  max-width: 250px;
  margin-bottom: 5px;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: row;
}

.message-item-img {
  border-radius: 50%;
}
.message-0 {
  max-width: 100%;
  border-radius: 25px;
  background: #3578e5;
  color: white;
  padding: 6px 10px;
}

.message-1 {
  max-width: 100%;
  border-radius: 25px;
  background: gray;
  color: white;
  margin-left: 5px;
  padding: 6px 10px;
}

.control-button {
  margin: 5px auto;
  display: flex;
  justify-content: center;
}
.control-button button {
  margin: 5px;
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
